@model InventoyManagement.Models.CompaniesModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CompaniesModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyAdd1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyAdd1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyAdd2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyAdd2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyAdd3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyAdd3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyAdd4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyAdd4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyCounty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyCounty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyTelOffice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyTelOffice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyRegistrationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
