@model InventoyManagement.Models.PartsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PartsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartsDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartsDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartsQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartsQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartsPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartsPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartsSellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartsSellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartsManufactureYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartsManufactureYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartsStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartsStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PartsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
